<div class="container col-4">
  <%= simple_form_for [@user] do |f| %>
    <%= f.input :first_name, placeholder: "Nombre" %>
      <%= f.input :last_name, placeholder: "Apellido" %>
    <%= f.input :city, placeholder: "Dirección" %>
    <%= f.input :phone_number, placeholder: "Número de teléfono" %>
    <%= f.input :role, placeholder: "" %>
    <% if :role == "profesional" %>
      <%= f.input :job, placeholder: "Especialidad" %>
    <% end %>%>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Guardar", class: 'btn btn-default' %>
  <% end %>
</div>
