<div id= "search-index" class="search-users">
    <%= form_tag users_path, method: :get do %>
    <i class="fas fa-search" style="position: absolute; z-index: 10; margin-left: 305px; margin-top:12px; color:white;"></i>
    <%= submit_tag "  Buscar", style:"position: absolute; margin-left: 299px;", class: "btn btn-default", id: "btn-search" %>
    <%= text_field_tag :query,
      params[:query], class: "form-control", placeholder: "Buscar por servicio o ubicación"%>
    <% end%>
</div>

<div class="container index">
  <div class="container d-flex">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <% if @users.blank? %>
          <p> No se encuentra el profesional </p>
        <% end %>
        <br>
        <% @users.each do |user| %>
          <% if user_signed_in? == false || user.id != current_user.id %>
            <div data-aos="fade-right">
              <div class="users-index">
                <div class="picture">
                  <% if user.photo.attached? %>
                    <%= cl_image_tag user.photo.key %>
                  <% else %>
                    <%= image_tag "profilepic.png" %>
                  <% end %>
                  <%# <img class="img-fluid" src="https://picsum.photos/130/130?image=1027"> %>
                </div>
                <div class="users-content">
                  <p id="star" class="fa fa-star" aria-hidden="true"> </p>
                  <p id="star" class="fa fa-star" aria-hidden="true"> </p>
                  <p id="star" class="fa fa-star" aria-hidden="true"> </p>
                  <p id="star" class="fa fa-star" aria-hidden="true"> </p>
                  <h3 class="name"><%= "#{user.first_name} #{user.last_name}" %></h3>
                  <h4 class="job"><%= user.job %></h4>
                  <h4 class="city"><%= user.city %></h4>
                </div>
                <ul class="icons">
                  <li><%= link_to user_path(user.id) do %><i class="fa fa-info-circle"></i><% end %></li>
                  <li><%= link_to new_user_request_path(user.id) do %><i class="fa fa-envelope"></i><% end %></li>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="container map-container">
      <div class="map" style="width: 100%; height: 100vh; margin-top:20px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<div class="footer-basic">
  <footer>
    <div class="social"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-linkedin"></i></a><a href="#"><i class="fab fa-whatsapp"></i></a></div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Servicios</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Servicios Ya © 2022</p>
  </footer>
</div>
