<div class= "container-fluid" id="container-show">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%#= cl_image_tag @user.photo.key %>
        <%# <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
          class="img-fluid rounded-start" alt="..."> %>
      </div>
      <div class="col-md-8" id="card-body-user">
        <div class="card-body">
          <h3 class="card-title"><%= @user.first_name %></h3>
          <p class="card-text">
            <li> Servicios: <%= @user.job %>
            <li> Ciudad: <%= @user.city %> </li>
            <li> Telefono: <%= @user.phone_number %> </li>
            <p class="fa fa-star" aria-hidden="true" style= "color:	#EABE3F"> </p>
            <p class="fa fa-star" aria-hidden="true" style= "color:	#EABE3F"> </p>
            <p class="fa fa-star" aria-hidden="true" style= "color:	#EABE3F"> </p>
            <p class="fa fa-star" aria-hidden="true" style= "color:	#EABE3F"> </p>
            <p class="fa fa-star" aria-hidden="true" style= "color:	#EABE3F"> </p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="text-center mt-5">Reseñas</h2>
  <div class="card border-light mb-3" style="max-width: 40rem;" id="card-show">
    <div class="card-body">
      <div class="card_title"> <h3 class= "text-center"></h3> </div>
        <%# <p class="card-text"><% @my_requests.each do |request| %>
          <% if @my_requests.nil? || @my_requests.first.reviews.nil? %>
           <%= "No tiene reseñas" %>
          <% else %>
            <ul  class= "text-center">
              <li><%= @my_requests.first.reviews.first.content %> Rating: <%= @my_requests.first.reviews.first.rating %>
               <p class="card__stars" >
                <p class="fa fa-star" class= "text-center" id="estrellas" aria-hidden="true" style= "color:	#EABE3F"> </p>
                <p class="fa fa-star" id="estrellas" aria-hidden="true" style= "color:	#EABE3F"> </p>
                <p class="fa fa-star" id="estrellas" aria-hidden="true" style= "color:	#EABE3F"> </p>
                <p class="fa fa-star" id="estrellas" aria-hidden="true" style= "color:	#EABE3F"> </p>
                <p class="fa fa-star" id="estrellas" aria-hidden="true" style= "color:	#EABE3F"> </p>
               </p>
            </ul>
          <% end %>
        <%# <% end %></p>
      </div>

</div>
<div class="btns-show">
  <% if user_signed_in? == false %>
      <%= link_to 'Crear solicitud', new_user_request_path(@user.id), class: 'btn btn-default' %>
   <% elsif @user.id != current_user.id %>
        <%= link_to 'Crear solicitud', new_user_request_path(@user.id), class: 'btn btn-default' %>
    <% else %>
  <% end %>
  <%= link_to 'Volver a búsquedas', users_path, class: 'btn btn-default' %>
<div>
