<div>
  <%= simple_form_for [@user, @request] do |f| %>
    <%= f.input :title, label: "Título" %>
    <%= f.input :city, label: "Dirección" %>
    <%= f.input :detail, label: "Descripción" %>
    <%= f.input :photos, label: "Fotos" %>
    <%= f.input :professional_id, as: :hidden, input_html: { value: "#{@user.id}"} %>
    <%= f.submit "Guardar", class: "btn btn-default" %>
  <% end %>
</div>
