<div class="container">
  <div class="cards">
    <% my_requests.each do |request| %>
      <div class="card-request">
        <img src="https://res.cloudinary.com/mpdlo/image/upload/v1646918763/production/Recurso_1_g0t3ok.png" />
        <div class="card-request-infos">
          <h2><%= link_to request.title, request_path(request.id) %></h2>
          <p> <%= "Dirección: #{request.city}" %> </p>
          <p> <%= "Detalles: #{request.detail}" %> </p>
          <p> <%= "Precio $ #{request.price}" %> </p>
          <% request.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end%>
        </div>
      </div>
    <% end%>
  </div>
</div>
