<div class="container col-6">
  <br>
  <div class="titulo col-4 row justify-content-center" style="margin: 0 auto">
    <h2>Editar: <%= @request.title %></h2>
  </div>
  <div>
    <%= simple_form_for [@user, @request] do |f| %>
      <%= f.input :title, :disabled => true %>
      <%= f.input :city, :disabled => true %>
      <%= f.input :detail, :disabled => true %>
      <%= f.input :image, :disabled => true %>
      <%= f.input :price, placeholder: "Cotizacion"%>
      <%= f.input :comment, placeholder: "Cotizacion"%>
      <%= f.submit "Guardar", class: "btn-default" %>
    <% end %>
  </div>
  <br>
</div>
