<div class="container col-6 mt-5">
  <% if current_user.id == @request.professional_id %>
    <br>
      <div class="titulo row justify-content-center">
        <h3 class="text-center">Editar Solicitud</h3>
      </div>
    <div>
      <%= simple_form_for [@user, @request] do |f| %>
        <%= f.input :title, :disabled => true %>
        <%= f.input :city, :disabled => true %>
        <%= f.input :detail, :disabled => true %>
        <%= f.input :photos, :disabled => true %>
        <%= f.input :price, placeholder: "Cotización" %>
        <%= f.input :comment, placeholder: "Comentario" %>
        <%= f.submit "Guardar", class: "btn-default" %>
      <% end %>
    </div>
  <% else %>
        <br>
      <div class="titulo row justify-content-center">
        <h3 class="text-center">Editar Solicitud</h3>
      </div>
      <div>
        <%= simple_form_for [@user, @request] do |f| %>
          <%= f.input :title, label: "Servicio" %>
          <%= f.input :city, label: "Dirección" %>
          <%= f.input :detail, label: "Descripción" %>
          <%= f.input :photos, label: "Fotos", as: :file, input_html: { multiple: true } %>
          <%= f.input :price, :disabled => true %>
          <%= f.input :comment, placeholder: "Comentario", :disabled => true %>
          <%= f.submit "Guardar", id: "volver", class: "btn btn-default" %>
          <%= link_to 'Cancelar solicitud', request_path(@request), id:"cancel-show", class: 'btn btn-default' , method: :delete, data: {confirm: "Estás seguro de borrar?"} %>
        <% end %>
      </div>
     <%end%>
  <%= link_to 'Volver a búsquedas', users_path, id: "volver", class: 'btn btn-default mt-2' %>
</div>
