<div class="container col-6">

  <%  if current_user.id == @request.professional_id %>
      <br>
    <div class="titulo col-4 row justify-content-center" style="margin: 0 auto">
      <h2>Editar: <%= @request.title %></h2>
    </div>
    <div>
      <%= simple_form_for [@user, @request] do |f| %>
        <%= f.input :title, :disabled => true %>
        <%= f.input :city, :disabled => true %>
        <%= f.input :detail, :disabled => true %>
        <%= f.input :photos, :disabled => true %>
        <%= f.input :price, label: "Cotización"%>
        <%= f.input :comment, label: "Comentario"%>
        <%= f.submit "Guardar", class: "btn-default" %>
      <% end %>
    </div>
  <% else current_user.role == "cliente" %>
        <br>
      <div class="titulo col-4 row justify-content-center" style="margin: 0 auto">
        <h2>Editar: <%= @request.title %></h2>
      </div>
      <div>
        <%= simple_form_for [@user, @request] do |f| %>
          <%= f.input :title, label: "Servicio" %>
          <%= f.input :city, label: "Dirección" %>
          <%= f.input :detail, label: "Descripción" %>
          <%= f.input :photos, label: "Fotos" %>
          <%= f.input :price, :disabled => true %>
          <%= f.input :comment, :disabled => true %>
          <%= f.submit "Guardar", class: "btn-default" %>
          <%= link_to 'Cancelar solicitud', request_path(@request), id:"cancel-show", class: 'btn btn-primary' , method: :delete, data: {confirm: "Estas seguro de borrar?"} %>
        <% end %>
      </div>
     <%end%>
  <%= link_to 'Volver a busquedas', users_path, class: 'btn btn-primary' %>
</div>
