<div class="container col-6">
  <br>
<<<<<<< HEAD
  <div class="titulo col-8 row justify-content-center" style="margin: 0 auto">
=======
  <div class="titulo col-4 row justify-content-center" style="margin: 0 auto">
>>>>>>> 55941422217851bb73a21c1c85a06196463a7ac1
    <h2>Editar: <%= @request.title %></h2>
  </div>
  <div>
    <%= simple_form_for [@user, @request] do |f| %>
      <%= f.input :title, :disabled => true %>
      <%= f.input :city, :disabled => true %>
      <%= f.input :detail, :disabled => true %>
<<<<<<< HEAD
      <%= f.input :image, :disabled => true %>
=======
      <%= f.input :photo, :disabled => true %>
>>>>>>> 55941422217851bb73a21c1c85a06196463a7ac1
      <%= f.input :price, placeholder: "Cotizacion"%>
      <%= f.input :comment, placeholder: "Cotizacion"%>
      <%= f.submit "Guardar", class: "btn-default" %>
    <% end %>
  </div>
  <br>
</div>
