<div class="container">

  <%  if current_user.role == "profesional" %>
    <br>
    <h1>Mis Solicitudes</h1>
    <br>
    <% @my_requests.each do |request| %>
      <div>
        <p> <%= link_to request.title, edit_request_path(request.id) %> </p>
        <p> <%= "Ubicacion: #{request.city}" %> </p>
        <p> <%= "Detalles: #{request.detail}" %> </p>
        <p> <%= "Fotos: #{request.photo}" %> </p>
      </div>
    <% end %>
    <br>
        <br>
    <h1>Solicitudes Realizadas</h1>
      <% @requests.each do |request| %>
    <div>
      <p> <%= link_to request.title, edit_request_path(request.id)  %> </p>
      <p> <%= "Ubicacion: #{request.city}" %> </p>
      <p> <%= "Detalles: #{request.detail}" %> </p>
      <p> <%= "Fotos: #{request.photo}" %> </p>
    </div>
    <br>
    <% end %>
  <%  else current_user.role == "cliente" %>
    <br>
    <h1>Solicitudes Realizadas</h1>
      <% @requests.each do |request| %>
    <div>
      <p> <%= link_to request.title, edit_request_path(request.id)  %> </p>
      <p> <%= "Ubicacion: #{request.city}" %> </p>
      <p> <%= "Detalles: #{request.detail}" %> </p>
      <p> <%= "Fotos: #{request.photo}" %> </p>
    </div>
    <br>
    <% end %>
  <% end %>
</div>
