<div class="container">
  <% if current_user.role == "profesional" %>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">Tus trabajos</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
          type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Tus solicitudes</button>
      </li>
       <li class="nav-item" role="presentation">
        <button
          type="button"
          role="tab"
          class="nav-link"
          id="pills-profile-tab2"
          data-bs-toggle="pill"
          data-bs-target="#pills-profile2"
          aria-controls="pills-profile2"
          aria-selected="false"
        >
          Comentarios
        </button>
      </li>
      <%# <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
      </li> %>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <%= render 'trabajos', my_requests: @my_requests %>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <%= render 'solicitudes', requests: @requests %>
      </div>
      <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">
        <%= render 'comentarios', reviews: @reviews %>
      </div>
      <%# <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div> %>
    </div>
  <% else current_user.role == "cliente" %>
    <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          type="button"
          role="tab"
          id="pills-home-tab2"
          class="nav-link active"
          data-bs-toggle="pill"
          data-bs-target="#pills-home2"
          aria-controls="pills-home2"
          aria-selected="true"
        >
          Tus solicitudes
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          type="button"
          role="tab"
          class="nav-link"
          id="pills-profile-tab2"
          data-bs-toggle="pill"
          data-bs-target="#pills-profile2"
          aria-controls="pills-profile2"
          aria-selected="false"
        >
          Comentarios
        </button>
      </li>
      <%# <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
      </li> %>
    </ul>
    <div class="tab-content" id="pills-tabContent2">
      <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab2">
        <%= render 'solicitudes', requests: @requests %>
      </div>
      <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">
        <%= render 'comentarios', reviews: @reviews %>
      </div>
      <%# <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div> %>
    </div>
  <% end %>

  <%= link_to 'volver a busquedas', users_path, class: 'btn btn-primary' %>

</div>
