<div class="container abc col-6 mt-5" id= "container-tablero" >
  <div class="show-request">
    <div class="show-request-infos">
      <h1><%= @request.title %></h1>
      <div class="detalles">
        <ul class="sinpuntos">
          <li>Detalles: <%= @request.detail %></li>
          <li>Dirección: <%= @request.city %></li>
          <li>Comentarios del profesional: <%= @request.comment %></li>
          <li>Precio: <%= @request.price %></li>
          <li><% @request.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
                <% end %></li>
        </ul>
      </div>
        <% if @request.professional_id != current_user.id %>
          <% if @request.reviews.empty? %>
          <br>
          <%= link_to 'Hacer una reseña', new_request_review_path(@request.id) , class: 'btn btn-default' %>
          <% else %>
            <h3>Tu reseña</h3>
            <p> Comentario: <%= @request.reviews.first.content %> </p>
            <p> Rating: <%= @request.reviews.first.rating %> </p>
          <% end %>
        <% end %>
      <%= link_to 'Editar solicitud', edit_request_path(@request.id) , class: 'btn btn-default' %>
      <%= link_to 'Volver', requests_path , class: 'btn btn-default' %>
    </div>
  </div>
</div>
