<div class="container col-6">
  <div class="show-request">
    <div class="show-request-infos">
      <h1><%= @request.title %></h1>
      <div class="detalles">
        <p>Detalles: <%= @request.detail %></p>
        <p>Dirección: <%= @request.city %></p>
        <p>Comentarios del profesional: <%= @request.comment %></p>
        <p>Precio: <%= @request.price %></p>
        <p>Imagen: <%= @request.image %></p>
        <% @request.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end%>
      <div>
    </div>
  </div>
</div>
  <% if @request.professional_id != current_user.id %>
    <% if @request.reviews.empty? %>
      <%= link_to 'Hacer una reseña', new_request_review_path(@request.id) , class: 'btn btn-default' %>
    <% else %>
     <h3>Tu reseña</h3>
      <p> Comentario: <%= @request.reviews.first.content %> </p>
      <p> Rating: <%= @request.reviews.first.rating %> </p>
    <% end %>
  <% end %>
  <%= link_to 'Editar solicitud', edit_request_path(@request.id) , class: 'btn btn-default' %>
