
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/empty-red-brick-wall_53876-31790.jpg?w=996);">
  <h1>Servicios YA</h1>

  <p>Te ayudamos a resolver el problema de tu hogar</p>

  <div class="search">
      <%= form_tag users_path, method: :get do %>
      <i class="fas fa-search" style="position: absolute; z-index: 10; margin-left: 305px; margin-top:10px; color:white;" ></i>
     <%= submit_tag "  Search", style:"position: absolute; margin-left: 299px;", class: "btn btn-default" %>
      <%= text_field_tag :query,
          params[:query],

    class: "form-control",
          placeholder: "Buscar por servicio o ubicación"%>
      <% end%>
  </div>
</div>
  <br>
  <br>
<div class="container-fluid">
  <div class="card-grid">
    <% 3.times do %>
      <% number_rand = rand(0...@users.size)%>
      <div class="card-profesional">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
        <div class="info-profesional">
          <h2><%= @users[number_rand].first_name %></h2>
          <p> <b> Servicios: </b> <% @users[number_rand].job.each do |job|%>
            <%= job %>
            <% end %></p>
          <p><b>Ubicación:</b> <%= @users[number_rand].city %></p>
        </div>
        <div class="link">
          <%= link_to "mas detalles",  user_path(@users[number_rand].id) %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <div class="link-ver">
    <%= link_to 'Ver todos profesionales', users_path , class: 'btn btn-default' %>
  </div>

</div>

<div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-linkedin"></i></a><a href="#"><i class="fab fa-whatsapp"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Servicios</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Servicios Ya © 2022</p>
        </footer>
    </div>
