<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/empty-red-brick-wall_53876-31790.jpg?w=996);">
    <h1>Servicios Ya!</h1>
    <p>La manera más simple de contratar un servicior</p>
    <div class="search">
        <%= form_tag users_path, method: :get, class: "form-search" do %>
        <%= text_field_tag :query,
            params[:query],
      class: "form-control",
            placeholder: "Buscar por servicio o ubicación"%>
             <%= button_tag(type: "submit", class: "btn btn-default", id: "btn-search") do %>
            <i class="fas fa-search"></i> Buscar
        <% end %>
      <% end%>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sombreadora">
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" >
        <h2 class= "text-center"> Encontralo </h2>
          <p class= "text-center">¿Necesitas un especialista? Busca por rubro o ubicación. <br> Envía una solicitud explicando tu problema. </p>
        </div>
        <div class="carousel-item">
        <h2 class= "text-center"> Agendalo </h2>
          <p class= "text-center"> Coordina con el profesional los detalles, espera la cotización. <br> ¿Estás de acuerdo? Acuerdan el día y horario. </p>
        </div>
        <div class="carousel-item w-100">
        <h2 class= "text-center"> ¡Listo! </h2>
          <p class= "text-center"> Realizá el pago online de manera segura, resguardamos tu dinero. <br> Recibís tu solución y le pagamos a nuestro especialista.  </p>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
    </div>
      <div class="profesionales-destacados">
        <p class= "text-center">Profesionales destacados </p>
      </div>
    <div class="card-users">
      <% 3.times do %>
        <% number_rand = rand(0...@users.size)%>
         <div class="users-index">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
                </div>
          <div class="users-content">
              <h5 class="name"><%= @users[number_rand].first_name %></h5>
              <h6 class="title"> Servicios: </b> <% @users[number_rand].job%></h6>
              <h6 class="location">Ubicación:</b> <%= @users[number_rand].city %></h6>
              <p class="fa fa-star" aria-hidden="true"> </p>
              <p class="fa fa-star" aria-hidden="true"> </p>
              <p class="fa fa-star" aria-hidden="true"> </p>
              <p class="fa fa-star" aria-hidden="true"> </p>
              <p class="fa fa-star" aria-hidden="true"> </p>
          </div>
          <ul class="icons">
            <li><%= link_to user_path(@users[number_rand].id) do %> <i class="fa fa-info-circle"></i> <% end %></li>
            <li><%= link_to new_user_request_path(@users[number_rand].id) do %><i class="fa fa-envelope"></i><% end %></li>
          </ul>
        </div>
      <% end %>
  </div>
  <div class="link-ver">
    <%= link_to 'Ver todos profesionales', users_path , class: 'btn btn-default' %>
  </div>
</div>

<div class="footer-basic">
  <footer>
    <div class="social"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-linkedin"></i></a><a href="#"><i class="fab fa-whatsapp"></i></a>
      <div class="linea"></div>
    </div>

    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Servicios</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Servicios Ya © 2022</p>
  </footer>
</div>
