
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/empty-red-brick-wall_53876-31790.jpg?w=996);">
      <h1>Servicios YA</h1>

      <p>Te ayudamos a resolver el problema de tu hogar</p>

<div class="search">
      <%= form_tag users_path, method: :get do %>
      <%= text_field_tag :query,
          params[:query],

    class: "form-control",
          placeholder: "Busca un servicio"
        %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end%>
      </div>
  </div>
  <br>
  <br>
<div class="container">
    <div class="card-grid">
      <% 6.times do %>
      <% number_rand = rand(0...@users.size)%>
      <div class="card-profesional">
         <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
        <div class="info-profesional">
        <h2><%= @users[number_rand].first_name %></h2>
        <p> <b> Servicios:</b> <% @users[number_rand].job.each do |job|%>
          <%= job %>
          <% end %></p>
        <p><b>Ubicación:</b> <%= @users[number_rand].city %></p>
         </div>
         <div class="link">
        <%= link_to 'mas detalles',  user_path(@users[number_rand].id), class: 'btn btn-primary' %>
      </div>
       </div>
      <% end %>
    </div>
    <br>
    <br>
  </div>
  <%= link_to 'Ver todos profesionales', users_path , class: 'btn-1 btn-primary' %>
<br>
</div>
